body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}
/* Модальное окно */
.modal {
  display: none; /* Скрыть по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1000; /* Находиться на переднем плане */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Включить прокрутку, если нужно */
  background-color: rgba(0, 0, 0, 0.4); /* Полупрозрачный фон */
}
.hidden
{
  display: none;
}
.modal-content {
  background-color: #fff;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 500px; 
  border-radius: 8px;
}
.hidden
{
  display: none;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
body.dark-theme {
  background: #443434;
}
body.dark-theme a {
  color:#fff;
}
.dropdown-menu {
  display: none;
  z-index: 2;
  position: absolute;
  top: 54px;
  right: 10px; 
  width: 172px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}
.login-register-menu
{
display: block;
}
.user-menu
{
display: none;
gap: 5px;
flex-direction: column;
align-items: center;
}
.user-menu-header
{
display: none;
gap: 5px;
flex-direction: column;
align-items: center;
}
.dropdown-menu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}
.img-profile {
  margin-right: 20px;
  width: 48px;
  height: 48px;
  background-image: url(../src/images/icon_profile_black.svg);
}
.img-profile.dark-theme
{
  background-image: url(../src/images/icon_profile.svg);
}
footer.dark-theme
{
  background-color: #675e5e;
}
footer.dark-theme h1,
footer.dark-theme h2,
footer.dark-theme h3,
footer.dark-theme h4,
footer.dark-theme h5,
footer.dark-theme h6 {
  color: #fff;
}
main.dark-theme h1,
main.dark-theme h2,
main.dark-theme h3,
main.dark-theme h4,
main.dark-theme h5,
main.dark-theme h6 {
  color: #fff;
}
body.dark-theme .text-contacts a 
{
  color: #fff;
}
main.dark-theme a 
{
  color: #fff;
}
.design-skiils.dark-theme
{
  background: #443434;
}
main.dark-theme
{
  background: #443434;
}
.author-text.dark-theme
{
  color: #fff;
}
.buttons {
  display: flex;
  align-items: center;
  margin-left: 28px;
  gap: 22px;
}
.buttons-burger
{
  display: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 96px;
  height: 36px;
}
.switch-input {
  display: none;
}
.switch-slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  background-color: #ebdfdf;
  transition: 0.3s ease background-color;
  border-radius: 56px;
  transition: 0.4s ease-in-out;
}
.switch-slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 9px;
  width: 32px;
  height: 32px;
  background-color: #fafd0f;
  border-radius: 50%;
  animation: slide-up-sun 700ms ease-in-out forwards;
}
.switch-input:focus + .switch-slider {
  box-shadow: 0 0 3px #000;
}
.switch-input:checked + .switch-slider {
  background-color: #000;
}
.switch-input:checked + .switch-slider::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 52px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  box-shadow: 6px 2px 1px 5px white;
  border-radius: 50%;
  animation: slide-up-moon 700ms;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  width: 73px;
  height: 24px;
  background-image: url(../src/images/Russia-Flag-icon.png);
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  border: none;
  background-position: left;
}
.dropbtn::after {
  content: "";
  background: rgba(0, 0, 0, 0) url(../src/images/745173.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 5px;
  right: -2px;
  width: 16px;
  height: 16px;
}
.dropdown-content {
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: #e8e6e6;
  width: 73px;
}
.dropdown-content button {
  color: black;
  padding: 2px 0 2px 25px;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out;
  border: 0px;
  cursor: pointer;
}
.dropdown-content button:first-child {
  background: url(../src/images/Russia-Flag-icon.png) no-repeat left center;
}
.dropdown-content button:last-child {
  background: url(../src/images/flag-usa-icon.png) no-repeat left center;
}
.url-carousel1 {
  display: block;
}
.url-carousel2 {
  display: none;
}
.url-carousel3 {
  display: none;
}
html {
  scroll-behavior: smooth;
}
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ccc;
}
.progress {
  height: 100%;
  width: 0;
  background-color: #0078FF;
}
.volume
{
  border:none;
}
.volume-input {
  height: 10px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
.volume-input::-webkit-slider-thumb {
  -webkit-appearance: none; 
  width: 10px;
  height: 10px; 
  border-radius: 50%;
  background-color: #BB945F; 
}
.volume-input {
  background: linear-gradient(to right, #0078FF 0%, #0078FF 50%, #c8c8c8 50%, #c8c8c8 100%);
}
.progress-bar:hover{
  cursor: pointer;
}
.audio-buttons
{
  display: flex;
}
.btn{
  border:none;
  cursor: pointer;
  background:#eeebeb;
}
.block-audio
{
  display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.cart-audio
{
  gap: 54px;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 320px;
  height: 600px;
  background-color: #eeebeb;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #747373;
  padding: 50px 20px 50px 20px;
}
.cookie-popup {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 14px;
  z-index: 1;
}

#accept-cookies {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

#accept-cookies:hover {
  background-color: #45a049;
}
.header-site {
  display: flex;
  height: 105px;
}
.navigation {
  display: flex;
  gap: 121px;
  align-items: center;
  height: 27px;
  position: relative;
}
.navigation ul {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  list-style-type: none;
  padding-inline-start: 27px;
}
.navigation a {
  text-align: center;
  font-family: Cardo;
  font-size: 18.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.about
{
  animation: slideInLeft 1s ease-in-out;
}
.Products.slideleft
{
  animation: slideInRight 1.5s ease-in-out;
}
.navigation a:hover {
  cursor: pointer;
  color: #bb945f;
}
.woodendot
{
  /* transition: transform 0.5s; */
  animation: effectlogo 1.5s ease-in-out forwards;
}
/* .woodendot:hover {
  transform: rotate(360deg);
} */
@keyframes effectlogo
{
  0%
  {
    transform: skewY(-10deg);
  }
  50%
  {
    transform: translateX(-30%);
  }
  100%
  {
    transform:translate(0%)
  }
}
.container-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.burger-menu {
  display: none;
}
#woodendot {
  width: 190px;
  height: 36px;
}
main {
  background: #f7f7f7;
}
.welcome {
  width: 100%;
  height: 698px;
  background-image: url("images/IMAGE2.png");
  max-width: 100%;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-welcome {
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;
  animation: slidebottom 1s ease-in-out forwards;
}
.text-welcome h2 {
  color: #fff;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: 0.2px;
  margin-block-end: 0em;
  margin-block-start: 0em;
}
.information-container h3 {
  white-space: nowrap;
}
.button-welcome {
  cursor: pointer;
  border: 1px solid #fff;
  background-color: transparent;
  width: 26.89%;
  height: 33px;
  color: #fff;
  transition: background-color 0.3s ease;
  text-align: center;
  font-family: Cardo;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  animation: scaleAnimation 3s infinite;
}
@keyframes scaleAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.button-welcome:hover {
  border-radius: 2px;
  border: 1px solid #bb945f;
  background: #bb945f;
  animation-play-state: paused;
}
.welcome-board {
  position: absolute;
  bottom: 4px;
  left: 30px;
  width: 309px;
  height: 50px;
  border-radius: 1px 1px 0px 0px;
  background: linear-gradient(45deg, #d3d3d3, #000000);
  background-size: 200% 200%; 
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.welcome-board h3 {
  margin-top: 13px;
  margin-right: 9px;
  color: #fff;
  text-align: center;
  font-family: "Palatino Linotype";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.information {
  display: grid;
  align-items: center;
  height: 155px;
}
.information-container {
  display: flex;
  margin-left: 30px;
}
.information-container h3 {
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.8px;
  letter-spacing: 0.2px;
}
.shipping {
  margin-left: 11.41px;
  width: 16.88%;
  height: 42px;
  display: flex;
  align-items: center;
  gap: 21.82px;
  animation: slideInLeft 1s ease-in-out;
}
.design {
  margin-left: 18.95px;
  width: 19.8%;
  height: 42px;
  display: flex;
  align-items: center;
  gap: 9.26px;
  animation: slideInLeft 1s ease-in-out;
}
.approach {
  margin-left: 10.95px;
  width: 17.52%;
  height: 42px;
  display: flex;
  align-items: center;
  gap: 16.26px;
  animation: slideInLeft 1s ease-in-out;
}
.crafted {
  width: 20.64%;
  height: 42px;
  display: flex;
  align-items: center;
  gap: 36.26px;
  animation: slideInLeft 1s ease-in-out;
}
.stars {
  margin-left: 24px;
  width: 20.57%;
  height: 42px;
  display: flex;
  align-items: center;
  gap: 36.26px;
  animation: slideInLeft 1s ease-in-out;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slidebottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.photo-about {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}
.Living-room {
  background-image: url(images/Living-room.png);
  width: 25.29%;
  height: 320px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  background-repeat: no-repeat;
}
.Living-room:hover {
  animation: rotateAnimation 1s linear;
}
.Bedroom:hover
{
  animation: rotateAnimation 1s linear;
}
.Home-office:hover
{
  animation: rotateAnimation 1s linear;
}
.Dining-room:hover
{
  animation: rotateAnimation 1s linear;
}

@keyframes rotateAnimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.Home-office {
  background-image: url(images/Office.png);
  width: 25.29%;
  height: 320px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  background-repeat: no-repeat;
}
.Dining-room {
  background-image: url(images/dining-room.png);
  width: 24.59%;
  height: 320px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  background-repeat: no-repeat;
}
.Bedroom {
  background-image: url(images/Bedroom.png);
  width: 25.51%;
  height: 320px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  background-repeat: no-repeat;
}
.black-text {
  color: #000;
  text-align: center;
  font-family: Cardo;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.6px;
}
.white-text {
  color: #fff;
  text-align: center;
  font-family: Cardo;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.6px;
}
.Cloe {
  height: 687px;
  display: flex;
  margin-left: 47px;
  margin-right: 16px;
  align-items: center;
  justify-content: center;
}
.Cloe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 100%;
}
.title-product h2 {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  margin-block: 0;
  transition: box-shadow 0.5s ease-in;
}
.title-product h2:hover
{
  box-shadow: 5px 5px 1px 1px rgba(1, 1, 17, 0.2);
}

.description h3 {
  color: #000;
  font-family: Cardo;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 37.143px;
  margin-block: 0;
}
.price h3 {
  color: #000;
  font-family: Cardo, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.857px;
  margin-block: 0;
}
.price-cloe {
  margin-top: 23px;
}
.cloe-shop {
  margin-top: 24px;
}
.description-cloe {
  text-align: end;
  margin-top: 2px;
}
.write-cloe {
  margin-top: 13px;
  width: 392px;
  height: 132px;
}
.text-product h3 {
  color: #525252;
  font-family: Cardo;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.6px;
  margin-block: 0;
}

.left-text-product {
  text-align: right;
}
.shop-now a {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  transition: color 0.3s ease-in-out;
  transition: transform 0.5s ease-in-out;
  display: inline-block;

}
.shop-now a:hover {
  cursor: pointer;
  color: #bb945f;
  transform: scale(1.3);
}
.text-cloe {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 494px;
  height: 494px;
  padding-left: 12px;
}
.Pelican {
  display: flex;
  margin-left: 30px;
  align-items: center;
  height: 570px;
}
.Pelican-container {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 34px;
  width: 100%;
}
.text-pelican {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 30.15%;
  height: 446px;
}
.Alada {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  height: 599px;
}
.Alada-container {
  align-items: center;
  display: flex;
  gap: 70px;
  width: 97.9%;
}
.text-alada {
  height: 509px;
  width: 29%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.Alba {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  height: 596px;
}
.Alba-container {
  display: flex;
  gap: 34px;
  align-items: center;
  width: 99.78%;
}
.Batea {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  height: 591px;
}
.batea-title h2 {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  margin-block: 0;
}
.title-alba
{
  display: inline-block;
}
.title-alba h2 {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  margin-block: 0;
}
.Batea-container {
  display: flex;
  gap: 50px;
  align-items: center;
  width: 99.4%;
}
.text-batea {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 28.69%;
  height: 466.125px;
}
.img-company {
  margin-top: 56px;
  margin-left: 3px;
}
.shop-now a {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.new-favorite h3 {
  color: #bc1414;
  text-align: right;
  font-family: Cardo;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 29.714px;
  margin-block: 0;
  animation: fadeOutAnimation 1.3s forwards infinite;
}
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.config-store h3 {
  color: #54595f;
  font-family: Cardo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.2px;
}
.pelican-title h2 {
  font-size: 29px;
}
.pelican-description {
  margin-top: 4px;
}
.price-pelican {
  margin-top: 20px;
}
.write-pelican {
  margin-top: 22px;
}
.config-pelican {
  margin-top: 9px;
}
.shop-pelican {
  margin-top: 96px;
  margin-left: 5px;
}
.new-favorite {
  margin-top: 7px;
}
.write-alada {
  margin-top: 45px;
}
.title-alada {
  margin-top: 21px;
}
.price-alada {
  margin-top: 21px;
}

.config-alada {
  margin-top: 12px;
  width: 120px;
}
.shop-alada {
  margin-top: 31px;
  margin-right: 2px;
}
.description-alba {
  margin-top: 3px;
}
.price-alba {
  margin-top: 22px;
}
.write-alba {
  margin-top: 19px;
}
.config-alba {
  margin-top: 27px;
}
.shop-alba {
  margin-top: 48px;
  margin-left: 17px;
}

.description-batea {
  margin-top: 4px;
  font-size: 17px;
}
.write-batea {
  margin-top: 45px;
}
.config-batea {
  margin-top: 9px;
}
.batea-shop {
  margin-top: 14px;
  margin-right: 6px;
}
.price-batea {
  margin-top: 0px;
}
.Product-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 745px;
}
.container-carousel-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 77.78%;
  height: 745px;
}
.text-alba {
  width: 30.07%;
  height: 519px;
}
.carousel {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 17px;
}
.carousel-images {
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;
}
.Title-carousel {
  margin-top: 5px;
  gap: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 21px;
}
.title-text h2 {
  color: #3a3a3a;
  text-align: center;
  font-family: Cardo;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  margin-block: 0;
}
.text-carousel h3 {
  color: #000;
  text-align: center;
  font-family: Cardo;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.429px;
  margin-block: 0;
}
.button {
  width: 14px;
  height: 26px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
}
.button-team {
  width: 16.5px;
  height: 26px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
}

.inner {
  width: 9px;
  height: 9px;
  margin: 5px;
  background-color: #0c0c0e;
  transition: background-color 0.2s ease-in-out;
}

.inner:hover {
  background-color: #bb945f;
}
.inner2 {
  width: 9px;
  height: 9px;
  margin: 5px;
  background-color: #0c0c0e;
  transition: background-color 0.2s ease-in-out;
}

.inner2:hover {
  background-color: #bb945f;
}

.atr {
  display: flex;
  width: 233px;
  height: 10px;
  flex-shrink: 0;
  padding-left: 28px;
}
.atr2 {
  display: flex;
  height: 10px;
  flex-shrink: 0;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-team-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 312px;
  flex-direction: column;
}
.text-team h3 {
  color: #020202;
  text-align: center;
  font-family: Cardo;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
}
.author-text h3 {
  color: #000;
  text-align: center;
  font-family: Cardo;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.container-carousel-text-team {
  height: 168px;
  display: flex;
  flex-direction: column;
}
.pagination-team {
  padding-left: 73px;
  margin-top: 22px;
}
.container-text-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 11px;
  gap: 18px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }

}
@keyframes FadeOut {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.images.FadeOut
{
  animation: FadeOut 1s ease-in-out;
}
.inner.active {
  background-color: orange;
  color: white;
}
.inner2.active {
  background-color: orange;
  color: white;
}
#testimonial-text.fadeIn,
#testimonial-author.fadeIn,
.images.fadeIn {
  animation: fadeIn 1s ease-in-out;
}
.skills-team {
  display: grid;
  grid-template-columns: 345px 345px 345px 345px;
  justify-content: center;
  align-items: center;
  height: 465px;
}
.container-skills {
  display: flex;
  width: 1380px;
  height: 370px;
}
.design-skiils {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 375px;
}

.wood {
  width: 25%;
  height: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wood:hover {
  animation: rotateAnimation 1s linear;
}
.design-skiils:hover
{
  animation: rotateAnimation 1s linear;
}
.container-design {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-design h2 {
  color: #000;
  text-align: center;
  font-family: Cardo;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
.img-cloe {
  width: 65%;
  height: 542px;
  background-image: url(images/Cloe.png);
}
.img-pelican {
  background-image: url(images/Pelican.png);
  width: 64%;
  height: 547px;
}
.alada-img {
  background-image: url(images/alada.png);
  width: 66%;
  height: 511px;
  
}
.alba-img {
  background-image: url(images/alba.png);
  width: 67.65%;
  height: 542px;
}
.batea-img {
  background-image: url(images/Batea.png);
  width: 67.65%;
  height: 542px;
}
.img-carousel-size {
  width: 33%;
  height: 550px;
}
.img-who {
  background-image: url(images/who-talking.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 104px;
}
.url-carousel1 {
  background-image: url(images/carousel-1.png);
}
.url-carousel2 {
  background-image: url(images/carousel-2.png);
}
.url-carousel3 {
  background-image: url(images/carousel-3.png);
}
.background-size {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.text-design h3 {
  color: #000;
  text-align: center;
  font-family: Cardo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.857px;
}
.learn-more a {
  display: inline-block;
  color: #000;
  text-align: center;
  font-family: Cardo;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  text-decoration-line: underline;
  transition: transform 0.5s ease-in-out;
}
.learn-more a:hover {
  cursor: pointer;
  color: #bb945f;
  transform: scale(1.3);
}
.who-talking {
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-who-talking {
  display: flex;
  height: 209.531px;
  align-items: center;
  width: 95.84%;
}
.container-x2-who {
  width: 100%;
  display: flex;
  height: 189.53px;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding-top: 29px;
}
.text-who-talking {
  margin-left: 10px;
}
.text-who-talking h3 {
  color: #454545;
  text-align: center;
  font-family: Cardo;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.3px;
  margin-block: 0;
} 
.carousel-controls
{
  display: block;
  margin-bottom: 39px;
}
footer {
  width: 100%;
  height: 448px;
  flex-shrink: 0;
  background-color: #e9e9e9;
}
.text-contacts a {
  color: #000;
  text-align: center;
  font-family: Cardo;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.text-contacts a:hover {
  cursor: pointer;
  color: #bb945f;
}
.container-footer {
  height: 429px;
  width: 98.61%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contatcs {
  display: flex;
  padding-top: 40px;
  width: 80.28%;
  height: 284.156px;
  margin-bottom: 14.16px;
}
.about-skills {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  width: 18.25%;
  height: 264px;
  transition: transform 0.3s ease-in-out;
}
.about-skills:hover
{
  transform: scale(1.05);
}
.text-contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.title-contacts h2 {
  color: #000;
  text-align: center;
  font-family: Cardo;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}
.raiting-company {
  margin-left: 124px;
  width: 30.1%;
  height: 284.156px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Newsletter-img {
  margin-left: 13px;
  display: flex;
  width: 61.7%;
  height: 105px;
  gap: 40px;
  margin-bottom: 10.45px;
}
.button-newsletter {
  margin-left: 12px;
  border: 1px solid #000;
  width: 239px;
  height: 25px;
  background: #fff;
  color: #000;
  text-align: center;
  transition: background-color 0.3s ease;
  font-family: Cardo;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  cursor: pointer;
  margin-bottom: 18.3px;
}
.button-newsletter:hover {
  cursor: pointer;
  background-color: #bb945f;
}
.text-raiting h3 {
  color: #000;
  text-align: center;
  font-family: Cardo;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.857px;
}
.trustpilot-img {
  margin-left: 14px;
}
.payment {
  width: 80.28%;
  height: 104.094px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-img {
  display: flex;
  gap: 9px;
  margin-left: 64px;
  width: 31.58%;
  height: 28.109px;
}
.tm-company {
  margin-left: 9px;
  width: 17.46%;
  height: 23px;
}
.text-payment {
  margin-right: -10px;
  width: 22.46%;
  height: 22px;
}
.text-payment h3 {
  color: #000;
  text-align: center;
  font-family: Cardo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.286px;
  margin-block: 0;
}
.tm-company h3 {
  color: #000;
  text-align: center;
  font-family: Cardo;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.286px;
  margin-block: 0;
}
.img-size-company {
  width: 60%;
  height: 70px;
}
.img-size-design {
  width: 95px;
  height: 95px;
}
.img-size-footprint {
  width: 95px;
  height: 95px;
}
.img-size-made {
  width: 95px;
  height: 95px;
}
.img-size-wood {
  width: 95px;
  height: 95px;
}
.text-contacts-2 h2 {
  color: #100;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-contacts-2 a {
  color: #100;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.telephone h2 {
  color: #100;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.container-section-contacts {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.container-contacts-info {
  width: 100%;
  display: flex;
  gap: 100px;
}
.contacts-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 20px;
  gap: 23px;
}
.map {
  width: 650px;
  height: 285px;
  padding-right: 20px;
}
.ymaps-2-1-79-map
{
  width: 70%;
  height: 285px;
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .shop-pelican {
    margin-top: 30px;
  }
  .shop-alada {
    margin-top: 5px;
  }
  .title-alba h2 {
    font-size: 22px;
  }
  .description-alba {
    margin-top: 5px;
  }
  .description-alba h3 {
    font-size: 17px;
  }
  .write-alba {
    margin-top: 10px;
  }
  .config-alba {
    margin-top: 15px;
  }
  .shop-alba {
    margin-top: 20px;
  }
  .img-company {
    margin-top: 25px;
  }
  .batea-title h2 {
    font-size: 26px;
  }
  .description-batea h3 {
    font-size: 14px;
  }
  .write-batea {
    margin-top: 11px;
  }
}
@media screen and (max-width: 1399px) {
  .write-batea h3 br {
    display: none;
  }
}
@media screen and (max-width: 1380px) {
  .skills-team {
    grid-template-columns: none;
    height: auto;
  }
  .container-skills {
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
  .design-skiils {
    min-width: 350px;
  }
  .wood {
    min-width: 350px;
  }
  .container-design {
    width: 310px;
    height: 342px;
    justify-content: normal;
    gap: 11px;
  }
  .Tittle-skills h2 {
    font-size: 24px;
    margin-block: 0;
  }
  .text-skills h3 {
    margin-block: 0;
    font-size: 21px;
  }
  .text-skills h3 br {
    display: none;
  }
  .learn-more a {
    font-size: 24px;
  }
  .img-size-design {
    width: 136px;
    height: 135px;
  }
  .img-size-footprint {
    width: 124px;
    height: 126px;
  }
  .text-position-footprint {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .text-footprint {
    width: 297px;
  }
  .img-size-made {
    width: 140px;
    height: 135px;
  }
  .learn-made {
    margin-top: 10px;
  }
  .img-size-wood {
    width: 140px;
    height: 144px;
  }
  .text-wood h3 br {
    display: none;
  }
  .text-wood {
    width: 280px;
  }
}
@media screen and (max-width: 1100px) {
  .information-container {
    flex-wrap: wrap;
    margin-left: 0px;
  }
  .shipping {
    margin-left: 0px;
    min-width: 220px;
    justify-content: center;
    gap: 27.085px;
     flex: 1 0 0; /*flex-grow flex-shrink: flex-basis: */
  }
  .design {
    margin-left: 0px;
    min-width: 220px;
    gap: 33.559px;
    flex: 1 0 0; /*flex-grow flex-shrink: flex-basis: */
    justify-content: center;
  }
  .approach {
    margin-right: 0px;
    margin-left: 1px;
    min-width: 220px;
    justify-content: center;
    flex: 1 0 0; /*flex-grow flex-shrink: flex-basis: */
  }
  .crafted {
    min-width: 220px;
    justify-content: center;
    gap: 31.079px;
    flex: 1 0 0; /*flex-grow flex-shrink: flex-basis: */
  }
  .stars {
    margin-left: 0px;
    min-width: 230px;
    gap: 4px;
    flex: 1 0 0;
    justify-content: center;
  }
  footer {
    height: auto;
  }
  .container-footer {
    height: 758px;
  }
  .contatcs {
    flex-wrap: wrap;
    /* width: 766px; */
    justify-content: center;
    height: auto;
    padding-top: 8px;
  }
  .raiting-company {
    margin-top: 57px;
    margin-left: 4px;
  }
  .text-raiting {
    height: 56px;
  }
  .text-raiting h3 {
    margin-block-end: 0;
    margin-block-start: 0;
  }
  .button-newsletter {
    width: 198px;
    margin-left: 6px;
    margin-bottom: 24.3px;
    margin-top: 9px;
  }
  .Newsletter-img {
    width: 211px;
    height: 72px;
    margin-left: 4px;
  }
  .trustpilot-img {
    margin-left: 0px;
  }
  .More-size {
    width: 26.12%;
  }
  .contacts-size {
    width: 18.3%;
  }
  .About-size {
    width: 28.2%;
  }
  .about-skills {
    margin-left: 16px;
  }
  .payment-img {
    display: none;
  }
  .payment {
    width: 100%;
  }
  .tm-company {
    width: 339px;
    margin-top: 16px;
    margin-left: 20px;
  }
  .tm-company h3 {
    font-size: 22px;
  }
  .text-payment {
    width: 276px;
    margin-top: 20px;
    margin-right: 85px;
  }
}
@media screen and (max-width:867px) {
  .Pelican-container
  {
    margin-right: 15px;
  }

}
@media screen and (max-width: 768px) {
  .navigation {
    margin-left: 11px;
  }
  .navigation ul {
    gap: 28px;
  }
  .text-welcome h2 br {
    display: none;
  }
  .text-welcome {
    width: 98%;
    margin-top: 50px;
    gap: 76px;
  }
  .text-welcome h2 {
    margin-left: 15px;
  }
  .photo-about {
    margin-left: 17px;
    margin-right: 19px;
  }
  .Cloe {
    margin-left: 18px;
    margin-right: 16px;
  }
  .Cloe-container {
    gap: 27px;
  }
  .text-cloe {
    padding-left: 0px;
  }
  .Pelican {
    margin-left: 16px;
  }
  .Pelican-container {
    gap: 22px;
    margin-right: 0px;
  }
  .text-pelican {
    margin-right: 42px;
    width: auto;
  }
  .write-pelican {
    width: 386px;
  }
  .Alada {
    margin-left: 8px;
    margin-right: 10px;
  }
  .Alada-container {
    gap: 16px;
  }
  .write-alada {
    width: 343px;
  }
  .text-alada {
    width: auto;
  }
  .write-alada h3 br {
    display: none;
  }
  .Alba {
    margin-left: 17px;
  }
  .Alba-container {
    gap: 18px;
  }
  .text-alba {
    width: 60%;
  }
  .write-alba {
    width: 100%;
  }
  .write-alba h3 br {
    display: none;
  }
  .config-alba {
    margin-top: 19px;
  }
  .shop-alba {
    margin-top: 23px;
    margin-left: 17px;
  }
  .Batea {
    margin-left: 17px;
    margin-right: 19px;
  }
  .Batea-container {
    gap: 18px;
  }
  .text-batea {
    width: 65%;
  }
  .write-batea {
    width: 100%;
  }
  .write-batea h3 br {
    display: none;
  }
  .description-batea {
    margin-top: 1px;
  }
  .container-carousel-products {
    width: 96.78%;
  }
  .container-text-team {
    gap: 10px;
  }
  .text-team {
    margin-left: 3px;
  }
  .text-team h3 {
    margin-block-end: 0;
    font-size: 21px;
  }
  .text-team h3 br {
    display: none;
  }
  .pagination-team {
    margin-top: 20px;
  }
  .who-talking {
    height: 160px;
  }
  .container-who-talking {
    height: 160px;
  }
  .container-x2-who {
    height: 160px;
    padding-top: 0px;
    gap: 25px;
  }
  .text-who-talking {
    margin-top: 34px;
    margin-left: 0px;
  }
  .container-contacts-info
  {
    display: flex;
    gap: 50px;
    flex-direction: column;
  }
  .map
  {
    display: flex;
    justify-content: center;
}
.map {
    width: 100%;
    height: 285px;
    padding-bottom: 30px;
    padding-right: 0px;
  }
}
@media screen and (max-width:900px
) {
  .burger-menu {
    display: block;
    margin-left: 22px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
    position: relative;
  }
  .navigation
  {
    width: 100%;
  }
.line-burger
{
  width: 45px;
  height: 2px;
  background:#000;
}
.burger-menu.active span:nth-child(2) {
  transform: scale(0);
  transition: transform 0.3s ease;
}
.burger-menu.active span:nth-child(1) {
  transform:rotate(-45deg) translate(-38%,50%);
  transition: transform 0.3s ease;
}
.burger-menu.active span:nth-child(3) {
  transform:rotate(45deg) translate(-31%,50%);
  transition: transform 0.3s ease;
}
.navigation.dark-theme
{
  background-color: #675e5e;
}
.open
{
  visibility: visible !important;
  left: -11px !important;
}
.blur
{
  background-color: rgba(0, 0, 0, 0.5);
}
  .navigation {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 517px;
    background-color: #ecebeb;
    z-index: 2;
    animation:burgerAnimation 0.5s ease-in-out;
    transition-duration: .25s;
  }
  .dropdown-menu
  {
    top: 345px;
    left: 0;
  }
  .buttons
  {
    margin-left: 0px;
  }
  .open-overlay
  {
    visibility: visible !important;
  }
  .overlay
  {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  @keyframes burgerAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  .navigation ul {
    flex-direction: column;
}
.title-alba h2
{
  font-size: 22px;

}
}
@media screen and (max-width: 584px) {

  .text-welcome {
    margin-top: 12px;
    gap: 50px;
  }
  .text-welcome h2 {
    margin-left: 9px;
    font-size: 20px;
  }
  .button-welcome {
    width: 64.89%;
  }
  .welcome-board {
    left: 17px;
    width: 297px;
  }
  .information {
    height: 175px;
  }
  .shipping {
    margin-right: 56px;
  }
  .approach {
    margin-right: 17px;
  }
  .crafted {
    margin-right: 29px;
  }
  .design {
    gap: 9.559px;
  }
  .stars {
    margin-right: 30px;
    gap: 31px;
  }
  .photo-about {
    flex-wrap: wrap;
    justify-content: center;
    gap: 9px;
    margin-left: 8px;
    margin-right: 0px;
  }

  .Cloe {
    height: 992px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .Cloe-container {
    flex-direction: column;
    gap: 0px;
  }
  .text-cloe {
    margin-right: 15px;
    height: 421px;
  }
  .description-cloe h3 {
    font-size: 20px;
  }
  .price-cloe {
    margin-top: 54px;
  }
  .price-cloe h3 {
    font-size: 23px;
  }
  .write-cloe {
    margin-top: 18px;
    width: 98%;
    height: 132px;
  }
  .write-cloe h3 {
    font-size: 21px;
  }
  .write-cloe h3 br {
    display: none;
  }
  .cloe-shop {
    margin-top: 43px;
  }
  .img-cloe {
    width: 88%;
    height: 549px;
  }
  .Pelican {
    height: 1015px;
    margin-left: 0px;
  }
  .write-pelican {
    width: 99%;
  }
  .Pelican-container {
    flex-direction: column-reverse;
    gap: 0px;
    margin-right: 0px;
  }
  .img-pelican {
    width: 87%;
    height: 540px;
  }
  .text-pelican {
    margin-right: 0px;
    margin-left: 11px;
  }
  .price-pelican h3 {
    font-size: 20px;
  }
  .config-pelican h3 {
    font-size: 20px;
  }
  .shop-pelican {
    margin-top: 22px;
  }
  .Alada {
    height: 876px;
    margin: 0px;
  }
  .Alada-container {
    flex-direction: column;
    gap: 0px;
  }
  .text-alada {
    height: 438px;
    margin-right: 15px;
  }
  .new-favorite {
    margin-top: 9px;
  }
  .new-favorite h3 {
    font-size: 20px;
  }
  .title-alada {
    margin-top: 0px;
  }
  .price-alada h3 {
    font-size: 21px;
  }
  .write-alada {
    margin-top: 12px;
    width: 95%;
  }
  .write-alada h3 {
    font-size: 19px;
  }
  .config-alada {
    width: 140px;
    margin-top: 17px;
  }
  .config-alada h3 {
    font-size: 20px;
  }
  .shop-alada {
    margin-top: 5px;
  }
  .alada-img {
    width: 89%;
    height: 395px;
  }
  .Alba {
    height: 840px;
    margin: 0px;
  }
  .Alba-container {
    flex-direction: column-reverse;
    gap: 0px;
  }
  .alba-img {
    height: 296px;
    width: 87.65%;
  }
  .text-alba {
    height: 485px;
    width: 93%;
  }
  .description-alba {
    margin-top: 6px;
  }
  .write-alba {
    margin-top: 7px;
  }
  .price-alba {
    margin-top: 7px;
  }
  .config-alba {
    margin-top: 42px;
  }
  .shop-alba {
    margin-top: 19px;
    margin-left: 0px;
  }
  .img-company {
    margin-top: 16px;
    margin-left: 0px;
  }
  .Batea {
    height: 980px;
    margin: 0px;
  }
  .Batea-container {
    flex-direction: column;
    gap: 0px;
  }
  .batea-img {
    width: 87%;
    height: 475px;
  }
  .text-batea {
    height: 408px;
    width: 87%;
  }
  .price-batea {
    margin-top: 3px;
  }
  .write-batea {
    margin-top: 36px;
  }
  .config-batea {
    margin-top: 4px;
  }
  .batea-shop {
    margin: 0px;
  }
  .Product-carousel {
    height: 786px;
  }
  .container-carousel-products {
    width: 100%;
    gap: 6px;
  }
  .carousel-images {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .img-carousel-size {
    width: 65%;
    height: 550px;
  }
  .Title-carousel {
    gap: 0px;
    margin-bottom: 0px;
  }
  .text-team-carousel {
    display: none;
  }
  .who-talking {
    display: none;
  }
  .container-footer {
    height: 1180px;
  }
  .contatcs {
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    width: auto;
  }
  .About-size {
    width: 318px;
  }
  .contacts-size {
    width: 318px;
  }
  .More-size {
    width: 318px;
  }
  .about-skills {
    margin-left: 0px;
    gap: 0px;
  }
  .title-contacts h2 {
    font-size: 25px;
  }
  .text-contacts h3 {
    font-size: 20px;
  }
  .raiting-company {
    width: 318px;
    margin-top: 0px;
  }
  .text-raiting {
    height: 69px;
  }
  .button-newsletter {
    width: 239px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 18.3px;
  }
  .Newsletter-img {
    margin-bottom: 42.45px;
  }
  .text-contacts {
    gap: 13px;
  }
  .text-contacts a {
    font-size: 21px;
  }
  .payment {
    flex-direction: column;
    gap: 3px;
    justify-content: normal;
  }
  .tm-company {
    width: 318px;
    margin-top: 6px;
    margin-left: 0px;
  }
  .tm-company h3 {
    font-size: 13px;
  }
  .text-payment {
    margin: 0px;
  }
  .Living-room {
    min-width: 136px;
  }
  .Home-office {
    min-width: 130px;
  }
  .Dining-room {
    min-width: 136px;
  }
  .Bedroom {
    min-width: 130px;
  }
  .Living-room {
    min-width: 195px;
  }
  .Home-office {
    min-width: 195px;
  }
  .Dining-room {
    min-width: 195px;
  }
  .Bedroom {
    min-width: 195px;
  }
}
@media screen and (max-width: 457px) {
  .information {
    height: 260px;
  }
}
@media (max-width: 428px) {
  .Living-room {
    min-width: 136px;
  }
  .Home-office {
    min-width: 130px;
  }
  .Dining-room {
    min-width: 136px;
  }
  .Bedroom {
    min-width: 130px;
  }
  .cart-audio
  {
    width: 60%;
  }
  .next-img
  {
    width: 50px;
  }
  .prev-img
  {
    width: 50px;
  }
  .play-btn-img
  {
    width: 50px;
  }
  .design-skiils
  {
    min-width: 300px;
  }
  .wood
  {
    min-width: 300px;
  }
}
