.popup-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

.popup-modal h3 {
    margin: 0 0 20px;
}

.popup-modal form {
    margin-bottom: 20px;
}

.popup-modal form div {
    margin-bottom: 10px;
}

.popup-modal input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.popup-modal button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100px;
}

.popup-modal button:hover {
    background-color: #333;
}
